dialog[open] {
  display: flex;
  flex-direction: column;
}

dialog {
  gap: 0.25rem;
  width: min(100%, 450px);
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  display: none;
}

dialog:modal {
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
}

dialog img {
  box-shadow: inset 0 0 0px 1000px var(--accent-color);
  border-radius: 0.5rem;
}

dialog #version-string {
  margin: -55px auto 20px auto;
  width: fit-content;
  z-index: 1;
  background: var(--background-color);
  padding: 0 7.5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 7px;
}

dialog #version-string p {
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(0, var(--text-color) 50%, transparent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

dialog #version-string code {
  font-size: 15px;
  color: var(--text-color) !important;
}

div[data-modal-page] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

div[data-modal-menu] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

div[data-modal-buttons] {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

div[data-modal-actions] {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

div[data-modal-actions] > button {
  flex: 1;
}

dialog > button[data-modal-view]:not(.icon) {
  text-align: unset;
}

div.modeless {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

div.modeless > h2 {
  font-size: 3em;
  font-weight: normal;
}

p.tooltip {
  pointer-events: none;
  padding: 0.25em 0.5em;
  border-radius: 0.5rem;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

div[data-color-input] {
  position: relative;
}

div[data-color-input] > input {
  padding-left: 2.25em;
  width: 100%;
}

div[data-color-input] > input[type="color"] {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

div[data-color-input] > div[data-color-preview] {
  position: absolute;
  width: 1.75em;
  height: 1.75em;
  top: 0.25em;
  left: 0.25em;
  border-radius: 0.25em;
}

div[data-color-input] > div[data-color-preview]:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  z-index: 9999;
  opacity: 0;
  transition: 0.5s opacity;
}

#loader > * {
  animation: fadeIn 1s ease-in-out infinite alternate;
}

#loader.active {
  display: flex;
  opacity: 1;
  transition: 0.5s opacity;
}