dialog[open] {
  display: flex;
  flex-direction: column;
}

dialog {
  gap: 0.25rem;
  width: min(100%, 450px);
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  display: none;
}

dialog:modal {
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
}

dialog img {
  box-shadow: inset 0 0 0px 1000px var(--accent-color);
  border-radius: 0.5rem;
}

dialog #version-string {
  margin: -45px 10px 15px auto;
  width: fit-content;
  z-index: 1;
  background: var(--background-color);
  padding: 0 7.5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 7px;
}

dialog #version-string p {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  background: linear-gradient(0, var(--text-color) 50%, transparent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

dialog #version-string code {
  font-size: 15px;
}

dialog .menu-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 7.5px;
  padding-top: 5px;
}

dialog .menu-icons > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--surface-color);
  border-radius: 5px;
  min-width: calc((100% - 15px) / 3);
  font-size: 25px;
  padding: 10px;
  opacity: 0.75;
  transition: 0.25s;
}

dialog .menu-icons > *:hover,
dialog .menu-icons > *.active {
  background: var(--surface-color);
  opacity: 1;
  transition: 0.25s;
}

dialog .menu-icons > *.active {
  pointer-events: none;
}

dialog:has(label) label {
  margin-top: 5px;
}

div[data-modal-page] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

div[data-modal-menu] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

div[data-modal-buttons] {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

div[data-modal-actions] {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

div[data-modal-actions] > button {
  flex: 1;
}

dialog > button[data-modal-view]:not(.icon),
dialog > button[data-logout],
dialog > button[data-sync] {
  text-align: unset;
}

div.modeless {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

div.modeless > h2 {
  font-size: 3em;
  font-weight: normal;
}

p.tooltip {
  pointer-events: none;
  padding: 0.25em 0.5em;
  border-radius: 0.5rem;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

div[data-color-input] {
  position: relative;
}

div[data-color-input] > input {
  padding-left: 2.25em;
  width: 100%;
}

div[data-color-input] > input[type="color"] {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

div[data-color-input] > div[data-color-preview] {
  position: absolute;
  width: 1.75em;
  height: 1.75em;
  top: 0.25em;
  left: 0.25em;
  border-radius: 0.25em;
}

div[data-color-input] > div[data-color-preview]:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  z-index: 9999;
  opacity: 0;
  transition: 0.5s opacity;
}

#loader > * {
  animation: fadeIn 1s ease-in-out infinite alternate;
}

#loader.active {
  display: flex;
  opacity: 1;
  transition: 0.5s opacity;
}

[tooltip],
[aria-label] {
  position: relative;
  cursor: pointer;
}

[tooltip]::after,
[aria-label]::after {
  content: attr(tooltip);
  position: absolute !important;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  font-size: 0.875rem !important;
  font-family: "Figtree" !important;
  font-weight: normal !important;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  z-index: 1000;
  line-height: normal;
}

[aria-label]::after {
  content: attr(aria-label) !important;
}

[tooltip][reverse]::after,
[aria-label][reverse]::after {
  top: unset;
  bottom: -1.5rem;
}

[tooltip]:hover::after,
[aria-label]:hover::after {
  opacity: 1;
  top: -2rem;
  transition: 0.2s ease-in-out;
}

[tooltip][reverse]:hover::after,
[aria-label][reverse]:hover::after {
  top: unset;
  bottom: -2rem;
}

*:has(> [tooltip]),
*:has(> [aria-label]) {
  position: relative;
  overflow: visible !important;
}

.island {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  height: fit-content;
  max-height: calc(100vh - 50px);
  width: calc(((100vw - min(100%, 800px)) / 2) - 75px);
  position: fixed;
  top: 25px;
  left: 25px;
  border: 1px dashed var(--text-color);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5px;
}

.island.visible {
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}

.island h5 {
  font-size: 1.25rem;
}

.island h6 {
  font-size: 1rem;
}

.island p {
  font-size: 1rem;
  font-weight: normal;
}

.island div {
  margin-top: 5px;
}

.island ul {
  padding-left: 1.5rem;
  margin-top: 5px;
}

.matrix {
  border: 1px solid var(--text-color);
  margin-top: 5px;
}

.matrix .matrix-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.matrix .matrix-row:not(:last-child) {
  border-bottom: 1px solid var(--text-color);
}

.matrix .matrix-row .matrix-cell {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
  height: var(--matrix-cell-height);
  width: var(--matrix-cell-width);
}

.matrix .matrix-row .matrix-cell:not(:last-child) {
  border-right: 1px solid var(--text-color);
}
