dialog[open] {
  display: flex;
  flex-direction: column;
}

dialog {
  gap: 0.25rem;
  width: min(100%, 450px);
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  display: none;
}

dialog:modal {
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
}

dialog img {
  box-shadow: inset 0 0 0px 1000px var(--backlight-color, var(--accent-color));
  border-radius: 0.5rem;
}

dialog p img {
  height: 20px;
  display: inline-flex;
  margin-right: 5px;
  margin-bottom: -4px;
  text-decoration: none;
}

dialog #version-string {
  margin: -75px auto 45px 17.5px;
  width: fit-content;
  z-index: 1;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 7px;
}

dialog #version-string p {
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  background: linear-gradient(0, white 45%, transparent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

dialog #version-string code {
  font-size: 10px;
}

dialog .menu-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 7.5px;
  padding-top: 5px;
}

dialog .menu-icons > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--surface-color);
  border-radius: 5px;
  min-width: calc((100% - 15px) / 3);
  font-size: 25px;
  padding: 10px;
  opacity: 0.75;
  transition: 0.25s;
}

dialog .menu-icons > *:hover,
dialog .menu-icons > *.active {
  background: var(--surface-color);
  opacity: 1;
  transition: 0.25s;
}

dialog .menu-icons > *.active {
  pointer-events: none;
}

dialog:has(label) label {
  margin-top: 5px;
}

div[data-modal-page] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

div[data-modal-menu] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

div[data-modal-buttons] {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

div[data-modal-actions] {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

div[data-modal-actions] > button {
  flex: 1;
}

dialog > button[data-modal-view]:not(.icon),
dialog > button[data-logout],
dialog > button[data-sync],
dialog > button[data-welcome] {
  text-align: unset;
}

div.modeless {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

div.modeless > h2 {
  font-size: 3em;
  font-weight: normal;
}

p.tooltip {
  pointer-events: none;
  padding: 0.25em 0.5em;
  border-radius: 0.5rem;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

div[data-color-input] {
  position: relative;
}

div[data-color-input] > input {
  padding-left: 2.25em;
  width: 100%;
}

div[data-color-input] > input[type="color"] {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

div[data-color-input] > div[data-color-preview] {
  position: absolute;
  width: 1.75em;
  height: 1.75em;
  top: 0.25em;
  left: 0.25em;
  border-radius: 0.25em;
}

div[data-color-input] > div[data-color-preview]:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadCounter {
  0% {
    background: linear-gradient(45deg, var(--text-color) 0%, transparent 10%);
  }
  10% {
    background: linear-gradient(45deg, var(--text-color) 10%, transparent 30%);
  }
  20% {
    background: linear-gradient(45deg, var(--text-color) 20%, transparent 50%);
  }
  30% {
    background: linear-gradient(45deg, var(--text-color) 30%, transparent 60%);
  }
  40% {
    background: linear-gradient(45deg, var(--text-color) 40%, transparent 70%);
  }
  50% {
    background: linear-gradient(45deg, var(--text-color) 50%, transparent 80%);
  }
  60% {
    background: linear-gradient(45deg, var(--text-color) 60%, transparent 90%);
  }
  70% {
    background: linear-gradient(45deg, var(--text-color) 70%, transparent 100%);
  }
  80% {
    background: linear-gradient(45deg, var(--text-color) 80%, transparent 100%);
  }
  90% {
    background: linear-gradient(45deg, var(--text-color) 90%, transparent 100%);
  }
  100% {
    background: linear-gradient(45deg, var(--text-color) 100%, transparent 100%);
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  z-index: 9999;
  opacity: 0;
  transition: 0.5s opacity;
}

#loader > * {
  animation: fadeIn 1s ease-in-out infinite alternate;
}

#loader.active {
  display: flex;
  opacity: 1;
  transition: 0.5s opacity;
}

#loader .counter {
  width: 150px;
  height: 5px;
  position: absolute;
  margin-bottom: -100px;
  border-radius: 5px;
  animation: loadCounter 1s ease-in-out infinite forwards;
  animation-delay: 1.5s;
}

[tooltip],
[aria-label] {
  position: relative;
  cursor: pointer;
}

[tooltip]::after,
[aria-label]::after {
  content: attr(tooltip);
  position: absolute !important;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  font-size: 0.875rem !important;
  font-family: "Figtree" !important;
  font-weight: normal !important;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  z-index: 1000;
  line-height: normal;
}

[aria-label]::after {
  content: attr(aria-label) !important;
}

[tooltip][reverse]::after,
[aria-label][reverse]::after {
  top: unset;
  bottom: -1.5rem;
}

[tooltip]:hover::after,
[aria-label]:hover::after {
  opacity: 1;
  top: -2rem;
  transition: 0.2s ease-in-out;
}

[tooltip][reverse]:hover::after,
[aria-label][reverse]:hover::after {
  top: unset;
  bottom: -2rem;
}

*:has(> [tooltip]),
*:has(> [aria-label]) {
  position: relative;
  overflow: visible !important;
}

.island {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  height: fit-content;
  max-height: calc(100vh - 50px);
  width: calc((100vw - min(100%, 1000px)) / 2);
  min-width: min(100%, 350px);
  position: fixed;
  top: 25px;
  left: 25px;
  border: 1px dashed var(--text-color);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5px;
  overflow-y: scroll;
}

.island::-webkit-scrollbar {
  display: none;
}

.island::before {
  content: "Use = to show extra fields";
  position: absolute;
  right: 20px;
}

.island:not(:has(h4))::before {
  content: "Not cached yet, try again soon";
}

.island.visible {
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}

.island.visible:hover {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.island:not(.visible) {
  pointer-events: none;
}

.island h5 {
  font-size: 1.25rem;
}

.island h6 {
  font-size: 1rem;
}

.island p {
  font-size: 1rem;
  font-weight: normal;
}

.island div {
  margin-top: 5px;
}

.island ul {
  padding-left: 1.5rem;
  margin-top: 5px;
}

.matrix {
  border: 1px solid var(--text-color);
  margin-top: 5px;
}

.matrix .matrix-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.matrix .matrix-row:not(:last-child) {
  border-bottom: 1px solid var(--text-color);
}

.matrix .matrix-row .matrix-cell {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
  height: var(--matrix-cell-height);
  width: var(--matrix-cell-width);
}

.matrix .matrix-row .matrix-cell:not(:last-child) {
  border-right: 1px solid var(--text-color);
}

.welcome-container {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.welcome-container.active {
  background: var(--background-color);
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.welcome-container::before {
  content: "";
  position: fixed;
  top: -50vh;
  height: 50vh;
  width: min(135%, 1600px);
  background: radial-gradient(var(--accent-color), transparent 65%);
  z-index: 10001;
  transition: top 0.5s ease-in-out;
}

.welcome-container.active::before {
  top: calc((-50vh / 2) - 110px);
  transition: top 0.5s ease-in-out;
}

body:has(.welcome-container.active) {
  overflow: hidden;
}

.welcome-container [step] {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
  color: var(--text-color) !important;
  background: transparent;
  padding: 10vh 10vw;
  opacity: 0;
  margin-bottom: -100px;
  transition: 1s ease-in-out;
}

.welcome-container [step].center {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.welcome-container[step="1"] [step="1"],
.welcome-container[step="2"] [step="2"],
.welcome-container[step="3"] [step="3"],
.welcome-container[step="4"] [step="4"],
.welcome-container[step="5"] [step="5"],
.welcome-container[step="6"] [step="6"],
.welcome-container[step="7"] [step="7"],
.welcome-container[step="8"] [step="8"],
.welcome-container[step="9"] [step="9"],
.welcome-container[step="10"] [step="10"],
.welcome-container[step="11"] [step="11"] {
  opacity: 1;
  margin-bottom: 0px;
  z-index: 10000;
  transition: 1s ease-in-out;
}

.welcome-container > button,
.welcome-container [step] > button {
  background: var(--accent-color);
  color: var(--accent-text-color);
  border-radius: 5px;
  opacity: 0.75;
}

.welcome-container > button:hover,
.welcome-container > button:focus,
.welcome-container [step] > button:hover,
.welcome-container [step] > button:focus {
  opacity: 0.5;
  scale: 0.95;
}

.welcome-container:not([step="1"]) > button {
  position: fixed;
  left: 25px;
  bottom: 25px;
}

.welcome-container > p {
  position: fixed;
  right: 25px;
  bottom: 25px;
  color: var(--text-color);
}

.welcome-container:not([step]) > button,
.welcome-container[step="1"] > button,
.welcome-container[step="11"] > button,
.welcome-container:not([step]) > p,
.welcome-container[step="1"] > p,
.welcome-container[step="11"] > p {
  opacity: 0;
}

.welcome-container h1 {
  font-size: min(20vw, 100px);
  line-height: 1;
  margin-top: -0.5vh;
  background: linear-gradient(0, var(--text-color) 45%, transparent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-container [step] *:not(button):not(> button),
.welcome-container:not([step="11"]) [step="11"] button {
  pointer-events: none;
  user-select: none;
}

.welcome-container .themes-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.welcome-container .themes-grid button {
  min-width: min(250px, 100%);
  color: var(--text-color);
  background-color: var(--surface-color);
}

.welcome-container .themes-grid button[data-theme="default"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #fafafa;
  --surface-color: #e7e7e7;
  --accent-color: #424242;
  --accent-text-color: #ffffff;
  --error-color: #fa8796;
}

.welcome-container .themes-grid button:hover {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

.welcome-container .themes-grid button.selected {
  border: 2.5px solid var(--accent-color);
}

.welcome-container .layout-chooser {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  min-width: 50vw;
}

.welcome-container .layout-chooser #theme-preview {
  cursor: pointer;
}

.welcome-container .layout-chooser #theme-preview.selected,
.welcome-container .layout-chooser #theme-preview:hover {
  background-color: var(--surface-color);
}

.welcome-container .layout-chooser #theme-preview.selected .text-placeholder,
.welcome-container .layout-chooser #theme-preview:hover .text-placeholder {
  background-color: var(--text-color);
}

.welcome-container .layout-chooser #theme-preview.selected .control-placeholder,
.welcome-container .layout-chooser #theme-preview:hover .control-placeholder {
  background-color: var(--accent-color);
}

.welcome-container .layout-chooser #theme-preview.selected .control-placeholder.pill,
.welcome-container .layout-chooser #theme-preview:hover .control-placeholder.pill {
  border-radius: 100vh;
}

@keyframes moveBefore {
  from {
    left: -20px;
  }
  to {
    left: -17.5px;
  }
}

@keyframes moveAfter {
  from {
    right: -20px;
  }
  to {
    right: -17.5px;
  }
}

.island-extends::before {
  content: "\F135";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: -20px;
  height: -webkit-fill-available;
  align-items: center;
  align-content: center;
  animation: moveBefore 0.5s ease-in-out infinite alternate;
}

.island-extends::after {
  content: "\F12C";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: -20px;
  height: -webkit-fill-available;
  align-items: center;
  align-content: center;
  animation: moveAfter 0.5s ease-in-out infinite alternate;
}

.island-extends-item {
  position: relative;
  width: fit-content;
  max-width: 95%;
  font-weight: bold;
}

.island-extends-item::after {
  content: "\F12C";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  right: -20px;
  height: -webkit-fill-available;
  align-items: center;
  align-content: center;
  animation: moveAfter 0.5s ease-in-out infinite alternate;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  background: repeating-linear-gradient(
      35deg,
      #dd6317de,
      #dd6417de 20px,
      transparent 10px,
      transparent 40px
    ),
    black;
  color: white;
  line-height: 17px;
  z-index: 999;
  height: 33px;
  transition: 0.25s margin-top;
}

.topbar span {
  background: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.topbar span i {
  color: darkorange;
}

:root:not(:hover) .topbar {
  margin-top: -33px;
  transition: 0.25s margin-top;
}

body:has(.topbar) {
  transition: 0.25s padding-top;
}

:root:hover:has(.topbar) body {
  padding-top: 83px;
  transition: 0.25s padding-top;
}

body:has(.topbar) .island {
  transition:
    0.25s top,
    0.25s max-height;
}

:root:hover:has(.topbar) .island {
  max-height: calc(100vh - 80px);
  top: 58px;
  transition:
    0.25s top,
    0.25s max-height;
}

body:has(.topbar) #checker.horizontal .column:last-child {
  transition: 0.25s top;
}

:root:hover:has(.topbar) #checker.horizontal .column:last-child {
  top: 63px;
  transition: 0.25s top;
}

.ai-manager .ai-activation {
  width: -webkit-fill-available;
  background: var(--surface-color);
  border: 1px dotted var(--accent-color);
  padding: 15px 17.5px 12px 17.5px;
  border-radius: 5px;
}

.ai-manager .ai-activation.success {
  background: mediumseagreen;
  border: 1px dotted white;
  color: white;
}

.ai-manager .ai-activation.warning {
  background: darkorange;
  border: 1px dotted white;
  color: white;
}

.ai-manager .ai-activation.error {
  background: indianred;
  border: 1px dotted white;
  color: white;
}

.ai-manager .ai-activation button {
  color: var(--text-color);
  margin-top: 5px;
  margin-bottom: 5px;
}

.ai-manager .ai-activation button:hover {
  color: var(--accent-text-color);
}

.ai-manager .ai-activation .info {
  width: -webkit-fill-available;
  background: var(--surface-color);
  padding: 10px 12px 7.5px 12px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ai-manager label,
.ai-manager textarea {
  width: -webkit-fill-available;
}

.ai-manager label:has(input) {
  margin-top: 0.5em;
}

.ai-manager textarea:not([disabled]) {
  resize: vertical;
}

.ai-manager textarea[disabled] {
  opacity: 0.5;
}

.alert {
  display: flex;
  flex-direction: row;
  padding: 0.5em 0.75em 0.5em 0.5em;
  border: none;
  border-radius: 0.5rem;
  border-left: 4px solid;
  background-color: var(--surface-color);
  gap: 0.75rem;
  margin-bottom: 0.5em;
}

.alert.separate {
  flex-direction: column;
  gap: 0.5rem;
}

.alert.full {
  flex-direction: column;
  gap: 0.6rem;
}

.alert:has(> div div p[hidden]),
.alert:has(> div div p[hidden]) > div {
  align-items: center;
}

.alert img {
  width: 150px;
  height: fit-content;
  border-radius: 5px;
}

.alert.separate img {
  width: 250px;
}

.alert.full img {
  width: 100%;
  height: auto;
}

.alert > div {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: -webkit-fill-available;
  flex-wrap: wrap;
}

.alert > div div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.alert > div > i {
  margin-left: 0.5em;
}

.alert button {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  margin-left: auto;
}

.alert button:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

@media screen and (max-width: 600px) {
  .alert {
    flex-direction: column;
    padding: 0.5em;
  }

  .alert > div {
    margin: 0;
  }

  .alert button {
    width: -webkit-fill-available !important;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: -webkit-fill-available;
  margin-top: 5px;
}

.pagination button {
  height: 30px !important;
  width: 30px !important;
  min-width: unset !important;
}

.pagination #current-page {
  padding: 0 10px;
}

.pagination #current-page label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.pagination #current-page input {
  background: none;
  padding: 0 5px;
  height: unset;
  min-height: unset;
  width: unset;
  min-width: unset;
  text-align: end;
  field-sizing: content;
  border-radius: 5px;
}

.pagination #current-page input:not(:hover):not(:focus) {
  margin-right: -12.5px;
  padding: 0;
}
