[data-theme="classic"] {
  color-scheme: dark;
  --text-color: #ffffff;
  --background-color: #303946;
  --surface-color: #424f61;
  --accent-color: #059fff;
  --accent-text-color: #ffffff;
  --error-color: #f84747;
}

[data-theme="abyss"] {
  color-scheme: dark;
  --text-color: #ffffff;
  --background-color: #000000;
  --surface-color: #1f1f22;
  --accent-color: #059fff;
  --accent-text-color: #ffffff;
  --error-color: #f84747;
}

[data-theme="graphite"] {
  color-scheme: dark;
  --text-color: #ffffff;
  --background-color: #1f1f1f;
  --surface-color: #2d2f30;
  --accent-color: #444d58;
  --accent-text-color: #ffffff;
  --error-color: #f84747;
}

[data-theme="blizzard"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #cde7f5;
  --surface-color: #abd0e6;
  --accent-color: #71b2d3;
  --accent-text-color: #2c2c2c;
  --error-color: #ce7474;
}

[data-theme="sage"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #bacbb0;
  --surface-color: #a0b395;
  --accent-color: #5c8a5b;
  --accent-text-color: #2c2c2c;
  --error-color: #b85f5f;
}

[data-theme="dune"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #cbc3af;
  --surface-color: #b7ac93;
  --accent-color: #917856;
  --accent-text-color: #2c2c2c;
  --error-color: #bd5858;
}

[data-theme="rose"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #f4dbd8;
  --surface-color: #e0c4c0;
  --accent-color: #ae817c;
  --accent-text-color: #2c2c2c;
  --error-color: #b42222;
}

[data-theme="lavender"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #c3c0e5;
  --surface-color: #aca8d4;
  --accent-color: #7e78be;
  --accent-text-color: #2c2c2c;
  --error-color: #b85f5f;
}

[data-theme="cream"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #f1e8db;
  --surface-color: #ddd3c6;
  --accent-color: #505f45;
  --accent-text-color: #ffffff;
  --error-color: #b85f5f;
}

[data-theme="ravenclaw"] {
  color-scheme: dark;
  --text-color: #ffffff;
  --background-color: #202944;
  --surface-color: #29365e;
  --accent-color: #f0b569;
  --accent-text-color: #2c2c2c;
  --error-color: #b85f5f;
}

[data-theme="hufflepuff"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #dbba71;
  --surface-color: #c7a65e;
  --accent-color: #2c2c2c;
  --accent-text-color: #ffffff;
  --error-color: #923737;
}

[data-theme="slytherin"] {
  color-scheme: dark;
  --text-color: #ffffff;
  --background-color: #1b3530;
  --surface-color: #224941;
  --accent-color: #cae7e1;
  --accent-text-color: #2c2c2c;
  --error-color: #b85f5f;
}

[data-theme="gryffindor"] {
  color-scheme: light;
  --text-color: #ffffff;
  --background-color: #6b242b;
  --surface-color: #852b34;
  --accent-color: #f3b84b;
  --accent-text-color: #2c2c2c;
  --error-color: #f76161;
}

[data-theme="catppuccin-latte"] {
  color-scheme: light;
  /* Text */
  --text-color: #4c4f69;
  /* Base */
  --background-color: #eff1f5;
  /* Surface0 */
  --surface-color: #ccd0da;
  /* Rosewater */
  --accent-color: #dc8a78;
  /* Text */
  --accent-text-color: #4c4f69;
  /* Red */
  --error-color: #d20f39;
}

[data-theme="catppuccin-frappe"] {
  color-scheme: dark;
  /* Text */
  --text-color: #c6d0f5;
  /* Base */
  --background-color: #303446;
  /* Surface0 */
  --surface-color: #414559;
  /* Overlay0 */
  --accent-color: #737994;
  /* Text */
  --accent-text-color: #c6d0f5;
  /* Red */
  --error-color: #e78284;
}

[data-theme="catppuccin-macchiato"] {
  color-scheme: dark;
  /* Text */
  --text-color: #cad3f5;
  /* Base */
  --background-color: #24273a;
  /* Surface0 */
  --surface-color: #363a4f;
  /* Overlay0 */
  --accent-color: #6e738d;
  /* Text */
  --accent-text-color: #cad3f5;
  /* Red */
  --error-color: #ed8796;
}

[data-theme="catppuccin-mocha"] {
  color-scheme: dark;
  /* Text */
  --text-color: #cdd6f4;
  /* Base */
  --background-color: #1e1e2e;
  /* Surface0 */
  --surface-color: #313244;
  /* Overlay0 */
  --accent-color: #6c7086;
  /* Text */
  --accent-text-color: #cdd6f4;
  /* Red */
  --error-color: #f38ba8;
}

[data-theme="stealth"] {
  color-scheme: dark;
  --text-color: #f2f2f2;
  --background-color: #0a0a0a;
  --surface-color: #141414;
  --accent-color: #f2f2f2;
  --accent-text-color: #1c1c1c;
  --error-color: #eb324b;
  --backlight-color: #141414;
}

/* Seasonal */

[data-theme="halloween"] {
  color-scheme: dark;
  --text-color: #ffffff;
  --background-color: #2c173d;
  --surface-color: #cc5a2a;
  --accent-color: #d6b7e7;
  --accent-text-color: #2c2c2c;
  --error-color: #d7f066;
}

/* Special */

[data-theme="dune-2"] {
  color-scheme: dark;
  --text-color: #d8d6d3;
  --background-color: #242220;
  --surface-color: #2e2c2a;
  --accent-color: #1455b6;
  --accent-text-color: #cbd9ff;
  --error-color: #8b2626;
}

/* Faisal N's Custom Themes (Source: faisaln.com) */

[data-theme="synthwave"] {
  color-scheme: dark;
  --text-color: #2de2e6;
  --background-color: #0d0221;
  --surface-color: #920075;
  --accent-color: #540d6e;
  --accent-text-color: #2de2e6;
  --error-color: #ea1b2d;
  --backlight-color: #ff00ec;
}

[data-theme="synthwave-2077"] {
  color-scheme: dark;
  --text-color: #c1d3e0;
  --background-color: #101116;
  --surface-color: #15151f;
  --accent-color: #00d4b2;
  --accent-text-color: #082b29;
  --error-color: #ea1b2d;
  --backlight-color: #00ffef;
}

[data-theme="synthwave-2077-solarized"] {
  color-scheme: dark;
  --text-color: #00d4b2;
  --background-color: #101116;
  --surface-color: #082b29;
  --accent-color: #00d4b2;
  --accent-text-color: #082b29;
  --error-color: #ea1b2d;
  --backlight-color: #00ffef;
}

[data-theme="casino"] {
  color-scheme: dark;
  --text-color: white;
  --background-color: red;
  --surface-color: black;
  --accent-color: yellow;
  --accent-text-color: black;
  --error-color: red;
  --backlight-color: yellow;
}

[data-theme="kfc"] {
  color-scheme: dark;
  --text-color: white;
  --background-color: black;
  --surface-color: #ff0029;
  --accent-color: white;
  --accent-text-color: black;
  --error-color: red;
  --backlight-color: yellow;
}

#atreides-logo {
  display: none;
}

body[data-theme="dune-2"] #atreides-logo {
  display: unset;
}

body[data-theme="dune-2"] #header > .virtual-checker-logo {
  display: none;
}

/* Premium Themes */

[data-theme="jellyfish"] {
  color-scheme: dark;
  --text-color: #ffffff;
  --background-color: #000067;
  --surface-color: #213e8e;
  --accent-color: #054dc6;
  --accent-text-color: #7bace5;
  --error-color: #eb324b;
  background: url(/store/backdrop/jellyfish.png) !important;
}

[data-theme="jellyfish-2"] {
  color-scheme: dark;
  --text-color: #ffffff;
  --background-color: #000815;
  --surface-color: #5f74e3;
  --accent-color: #575ed3;
  --accent-text-color: #ffffff;
  --error-color: #eb324b;
  background: url(/store/backdrop/jellyfish-2.png) !important;
}

[data-theme="jellyfish-pro"] {
  color-scheme: dark;
  --text-color: #ffffff;
  --background-color: #000815;
  --surface-color: #5f74e3;
  --accent-color: #575ed3;
  --accent-text-color: #ffffff;
  --error-color: #eb324b;
  background: url(/store/backdrop/jellyfish-pro.png) !important;
}

[data-theme="black-sand"] {
  color-scheme: dark;
  --text-color: #ffffff;
  --background-color: #1f1f1f;
  --surface-color: #2d2f30;
  --accent-color: #444d58;
  --accent-text-color: #ffffff;
  --error-color: #eb324b;
  background: url(/store/backdrop/black-sand.png) !important;
}

[data-theme="blizzard-pro"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #cde7f5;
  --surface-color: #abd0e6;
  --accent-color: #71b2d3;
  --accent-text-color: #2c2c2c;
  --error-color: #eb324b;
  background: url(/store/backdrop/blizzard-pro.png) !important;
}

[data-theme="sage-pro"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #bacbb0;
  --surface-color: #a0b395;
  --accent-color: #5c8a5b;
  --accent-text-color: #2c2c2c;
  --error-color: #eb324b;
  background: url(/store/backdrop/sage-pro.png) !important;
}

[data-theme="sandy-beach"] {
  color-scheme: light;
  --text-color: #f0f0f0;
  --background-color: #9c8460;
  --surface-color: #574832;
  --accent-color: #a58d6b;
  --accent-text-color: #2c2c2c;
  --error-color: #eb324b;
  background: url(/store/backdrop/sandy-beach.png) !important;
}

[data-theme="rose-pro"] {
  color-scheme: dark;
  --text-color: #ffffff;
  --background-color: #f30837;
  --surface-color: #d74d4d;
  --accent-color: #ff6767;
  --accent-text-color: #ffffff;
  --error-color: #eb324b;
  background: url(/store/backdrop/rose-pro.png) !important;
}

[data-theme="lavender-pro"] {
  color-scheme: light;
  --text-color: #e8e8e8;
  --background-color: #b996d6;
  --surface-color: #a88ada;
  --accent-color: #866ed5;
  --accent-text-color: #d7d7d7;
  --error-color: #eb324b;
  background: url(/store/backdrop/lavender-pro.png) !important;
}

[data-theme="stealth-2"] {
  color-scheme: dark;
  --text-color: #f2f2f2;
  --background-color: #818181;
  --surface-color: #5e5047;
  --accent-color: #4c4746;
  --accent-text-color: #f2f2f2;
  --error-color: #eb324b;
  background: url(/store/backdrop/stealth-2.png) !important;
}

[data-theme="synthwave-pro"] {
  color-scheme: dark;
  --text-color: #2de2e6;
  --background-color: #0d0221;
  --surface-color: #920075;
  --accent-color: #540d6e;
  --accent-text-color: #2de2e6;
  --error-color: #ea1b2d;
  --backlight-color: #ff00ec;
  background: url(/store/backdrop/synthwave-pro.png) !important;
}

[data-theme="airplane"] {
  color-scheme: dark;
  --text-color: #f2f2f2;
  --background-color: #0a0a0a;
  --surface-color: #141414;
  --accent-color: #f2f2f2;
  --accent-text-color: #1c1c1c;
  --error-color: #eb324b;
  --backlight-color: #141414;
  background: url(/store/backdrop/airplane.png) !important;
}

[data-theme="lavender-2"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #d9c4ed;
  --surface-color: #b68cc9;
  --accent-color: #825895;
  --accent-text-color: #e4e4e4;
  --error-color: #eb324b;
  background: url(/store/backdrop/lavender-2.png) !important;
}

[data-theme="rainy-day"] {
  color-scheme: dark;
  --text-color: #dedede;
  --background-color: #203c26;
  --surface-color: #3a9cb7;
  --accent-color: #2d8ba5;
  --accent-text-color: #e4e4e4;
  --error-color: #eb324b;
  background: url(/store/backdrop/rainy-day.png) !important;
}

[data-theme="snow"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #c1becc;
  --surface-color: #87acc9;
  --accent-color: #9cb7d2;
  --accent-text-color: #474747;
  --error-color: #eb324b;
  background: url(/store/backdrop/snow.png) !important;
}

[data-theme="shells"] {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #f1e8db;
  --surface-color: #ddd3c6;
  --accent-color: #b28766;
  --accent-text-color: #2c2c2c;
  --error-color: #eb324b;
  background: url(/store/backdrop/shells.png) !important;
}

[data-theme="tides"] {
  color-scheme: dark;
  --text-color: #fafafa;
  --background-color: #112628;
  --surface-color: #204445;
  --accent-color: #2e9993;
  --accent-text-color: #fafafa;
  --error-color: #eb324b;
  background: url(/store/backdrop/tides.png) !important;
}

[data-theme="northern-lights"] {
  color-scheme: dark;
  --text-color: #dedede;
  --background-color: #08161f;
  --surface-color: #104943;
  --accent-color: #1e644a;
  --accent-text-color: #e4e4e4;
  --error-color: #eb324b;
  background: url(/store/backdrop/northern-lights.png) !important;
}

[data-theme="galaxy"] {
  color-scheme: dark;
  --text-color: #dee3fc;
  --background-color: #0d1627;
  --surface-color: #526aa2;
  --accent-color: #6269af;
  --accent-text-color: #dee3fc;
  --error-color: #eb324b;
  background: url(/store/backdrop/galaxy.png) !important;
}

[data-theme="galaxy-2"] {
  color-scheme: dark;
  --text-color: #e5e4cd;
  --background-color: #0a141e;
  --surface-color: #755853;
  --accent-color: #bb9890;
  --accent-text-color: #e5e4cd;
  --error-color: #eb324b;
  background: url(/store/backdrop/galaxy-2.png) !important;
}

[data-theme="milky-way"] {
  color-scheme: dark;
  --text-color: #a89c90;
  --background-color: #171719;
  --surface-color: #5c606c;
  --accent-color: #a5978e;
  --accent-text-color: #171719;
  --error-color: #eb324b;
  background: url(/store/backdrop/milky-way.png) !important;
}