* {
  color: inherit;
  background-color: inherit;
}

:root {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #fafafa;
  --surface-color: #e7e7e7;
  --accent-color: #424242;
  --accent-text-color: #ffffff;
  --error-color: #fa8796;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--accent-color) inset;
  transition: box-shadow 100ms ease;
}

::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  border: 0.25rem solid transparent;
  background-color: var(--surface-color);
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}

body {
  min-height: 100%;
  padding: 50px 10% 25px 10%;
  color: var(--text-color);
  background-color: var(--background-color);
  font:
    16px "Figtree",
    sans-serif;
  line-height: 1.5;
  gap: 50px !important;
}

body.enable-transitions {
  --easing: cubic-bezier(0.32, 0, 0.67, 0);
}

h1 {
  font-size: 1.75rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  line-height: 1.2;
}

button {
  height: 2.25em;
  padding: 0 0.75em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  font: inherit;
  transition: 100ms var(--easing);
  cursor: pointer;
  min-width: fit-content;
}

button.icon {
  width: 2.25em;
  height: 2.25em;
  padding: 0;
  border-radius: 50%;
}

button.fit {
  width: fit-content !important;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

button:has(i.bi) {
  font-family: unset;
  line-height: 1;
}

a.icon {
  font-size: 1.5em;
}

.pill {
  border-radius: 100vh;
}

i.bi {
  background-color: transparent;
}

input,
select {
  height: 2.25em;
  padding: 0 0.5em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  width: 100%;
  cursor: pointer;
}

input:disabled,
select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  overflow: auto;
  pointer-events: auto;
}

input.disabled:disabled,
select.disabled:disabled {
  opacity: 0.25;
}

.drag {
  height: 2.25em;
  width: 2.25em;
  padding: 0 0.5em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  user-select: none;
}

.drag:active {
  cursor: grabbing;
}

textarea {
  padding: 0.375em 0.5em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  resize: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
}

li {
  word-wrap: break-word;
}

kbd {
  height: 1.5em;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--surface-color);
  font:
    14px "Figtree",
    sans-serif;
}

code {
  height: 1.5em;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  color: var(--accent-text-color);
  background-color: var(--surface-color);
}

button[data-theme] {
  height: 3rem;
  color: var(--text-color);
  background-color: var(--surface-color);
  text-transform: capitalize;
}

.attention {
  box-shadow: 0 0 0 0.125rem var(--error-color) inset;
  transition: box-shadow 100ms ease;
}

.virtual-checker-logo {
  color: var(--logo-color);
}

#code-input {
  font-size: 2.5em;
  text-align: center;
  height: 1.5em;
  background-color: transparent;
}

@media (hover: hover) {
  button:hover {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
  }

  label:hover + button {
    background-color: var(--surface-color);
  }

  button[data-theme]:hover {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
  }
}

[data-gg-chat-anchor],
[data-gg-privacy-banner-anchor] {
  display: none !important;
}

#theme-preview,
#editor-preview {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: min(100%, 300px);
  margin: 1rem;
  align-self: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--background-color);
  transition: 200ms var(--easing);
}

.text-placeholder {
  color: transparent;
  background-color: var(--text-color);
  width: fit-content;
  height: 0.8em;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 0.25rem;
  transition: 200ms var(--easing);
}

.control-placeholder {
  height: 2.25em;
  padding: 0 0.5em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  transition: 200ms var(--easing);
}

.control-placeholder.pill {
  border-radius: 100vh;
}

.hint {
  align-self: center;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  line-height: 1;
}

math-field {
  --caret-color: var(--text-color);
  --contains-highlight-background-color: var(--background-color);
  --text-font-family: "Figtree", sans-serif;

  padding: 0.375em 0.5em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  font-size: 1.25em;
  cursor: text;
}

math-field:focus {
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--accent-color) inset;
  transition: box-shadow 100ms ease;
}

math-field.attention {
  box-shadow: 0 0 0 0.125rem var(--error-color) inset;
  transition: box-shadow 100ms ease;
}

math-field::part(virtual-keyboard-toggle) {
  color: var(--text-color);
  background-color: var(--surface-color);
  transition:
    100ms color var(--easing),
    100ms background-color var(--easing);
}

math-field::part(virtual-keyboard-toggle):hover {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

math-field::part(menu-toggle) {
  display: none;
}

math-field::part(content) {
  padding: 0;
}

div.ML__keyboard {
  background-color: transparent;
}

[data-button-select] {
  display: flex;
  gap: 0.3rem 0.25rem;
  padding: 0.25rem;
  background-color: var(--surface-color);
  border-radius: 0.5rem;
  width: fit-content;
  flex-wrap: wrap;
}

[data-button-select] > button {
  height: unset;
  min-height: 1.75em;
  border-radius: 0.25rem;
  cursor: pointer;
}

[data-button-select] > button[aria-selected="true"] {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

#answer-input {
  background-color: transparent;
}

#answer-input:focus {
  box-shadow: none;
}

#answer-textarea-container:has(#answer-input:focus) {
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--accent-color) inset;
  transition: box-shadow 100ms ease;
}

#answer-input.attention {
  box-shadow: none;
}

#answer-textarea-container:has(#answer-input.attention) {
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--error-color) inset;
  transition: box-shadow 100ms ease;
}

#checker > .images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

#checker > .images img {
  border-radius: 5px;
  border: 5px solid var(--surface-color);
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5px;
  width: -webkit-fill-available;
}

[square] {
  width: 2.25em !important;
  min-width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .button-grid {
    flex-wrap: wrap !important;
  }

  label {
    width: unset !important;
  }

  .small,
  .smedium,
  .medium,
  .mediuml,
  .mediumll,
  square {
    max-width: unset !important;
  }
}

#checker button {
  width: inherit;
  min-width: 36px;
}

.button-grid.reverse {
  flex-direction: row-reverse;
}

.button-grid.reorder {
  flex-direction: column;
}

[data-answer-mode="set"] input {
  text-align: center;
  width: -webkit-fill-available;
  min-width: 50px;
}

[data-answer-mode="frq"] h1 {
  text-align: center;
  padding-bottom: 10px;
}

#frq-input {
  color: var(--accent-color);
  -webkit-appearance: none;
  width: -webkit-fill-available;
  height: 20px;
  border-radius: 10px;
  background: var(--surface-color);
  outline: none;
  margin: 20px 0;
}

#frq-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

#frq-input::-webkit-slider-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--accent-color);
  cursor: grab;
  box-shadow: 0px 0px 5px 5px var(--surface-color);
  transition: 0.25s;
}

#frq-input::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--accent-color);
  cursor: grab;
  box-shadow: 0px 0px 5px 5px var(--surface-color);
  transition: 0.25s;
}

#frq-input::-webkit-slider-thumb:active {
  width: 40px;
  height: 40px;
  cursor: grabbing;
  transition: 0.25s;
}

#checker:has([data-value="frq"][aria-selected="true"]) #answer-container {
  overflow: visible !important;
}

.small {
  max-width: 75px;
}

.smedium {
  max-width: 125px;
}

.medium {
  max-width: 175px;
}

.mediuml {
  max-width: 225px;
}

.mediumll {
  max-width: 265px;
}

.fit {
  width: fit-content;
}

#checker:not(:has(input)) {
  align-items: center;
}

.attachments {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.attachments .image,
.attachments img {
  height: 65px;
  min-width: 70px;
  border-radius: 2.5px;
  cursor: pointer;
  position: relative;
  background-color: var(--text-color);
}

.attachments .image::after {
  content: "Remove";
  position: absolute;
  bottom: -26px;
  width: 100%;
  z-index: 10;
  background: var(--surface-color);
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5px;
  height: 26px;
  font-size: 13px;
  font-weight: 500;
  transition: 0.25s var(--easing);
}

.attachments .image:hover::after {
  bottom: 0px;
  transition: 0.25s var(--easing);
}

.attachments .drop {
  display: flex;
  width: 150px;
  height: 65px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2.5px;
  border: 1px dashed var(--accent-color);
  background: var(--surface-color);
  cursor: pointer;
}

.hiddenOnLoad {
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

.hiddenOnLoad.show {
  max-height: 500px;
  overflow: visible;
  transition: 0.5s var(--easing);
}

.segments .section [data-remove-segment-input],
.questions .section [data-remove-question-input],
.segments:not(:has(.section:first-child.expanded)) [hidden-spacer] {
  display: none;
}

.segments .section .questions,
.questions .section .attachments,
.questions .section .answers {
  max-height: 0px;
  transition: 0.25s var(--easing);
  overflow: hidden;
}

.segments .section .bi-caret-up-fill,
.questions .section .bi-caret-up-fill {
  display: none;
}

.segments .section.expanded [data-remove-segment-input],
.questions .section.expanded [data-remove-question-input] {
  display: flex;
}

.segments .section.expanded .questions,
.questions .section.expanded .attachments,
.questions .section.expanded .answers {
  max-height: 1000px;
  transition: 0.25s var(--easing);
}

.segments .section.expanded .bi-caret-up-fill,
.questions .section.expanded .bi-caret-up-fill {
  display: block;
}

.segments .section.expanded .bi-caret-down-fill,
.questions .section.expanded .bi-caret-down-fill {
  display: none;
}

.section [data-select] {
  display: none;
}

.selecting [data-select] {
  display: flex;
}

.selecting .bi-circle-fill {
  display: none;
}

.selecting .selected .bi-circle {
  display: none;
}

.selecting .selected .bi-circle-fill {
  display: block;
}

#controls-container .bi-x {
  display: none;
}

#controls-container [data-delete-multiple] {
  display: none;
}

body:has(.selecting) #controls-container button:has(.bi-gear) {
  display: none;
}

body:has(.selecting) #controls-container .bi-circle {
  display: none;
}

body:has(.selecting) #controls-container .bi-x {
  display: block;
}

body:has(.selecting) #controls-container button:has(.bi-lightning-charge) {
  display: none;
}

body:has(.selecting) #controls-container [data-delete-multiple] {
  display: block;
}

body:has(.selecting) #controls-container button:has(.bi-arrows-move) {
  display: none;
}

body:has(.selecting) #controls-container button:has(.bi-sort-down) {
  display: none;
}

.section:not(:has(.expanded)) {
  gap: 7.5px;
  transition: 0.25s gap var(--easing);
}

.section:has(.expanded) {
  transition: 0.25s gap var(--easing);
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  width: -webkit-fill-available;
}

.questions .section:has(.expanded) .section[id]:not(.expanded) {
  display: none;
}

.questions .section[id]:not(.expanded) {
  gap: 0px;
}

.segments .section[id]:not(.expanded) {
  gap: 0px;
}

.button-grid[id^="response-"].hidden {
  display: none;
}

hidden,
[hidden] {
  display: none;
}

.toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1000;
  background: transparent;
}

.toast {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  color: var(--text-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition:
    opacity 250ms ease,
    transform 250ms ease;
  line-height: 13px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toast i {
  font-size: 1rem;
}

.toast.success {
  background-color: mediumseagreen;
  color: #ffffff;
}

.toast.error {
  background-color: #f44336;
  color: #ffffff;
}

.toast-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 0;
}

#history-feed .correct {
  border-left: 3px solid mediumseagreen;
  border-right: 3px solid mediumseagreen;
}

#history-feed .incorrect {
  border-left: 3px solid indianred;
  border-right: 3px solid indianred;
}

#history-feed button button {
  width: -webkit-fill-available;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 5px 0;
}

#history-feed > button:hover {
  background-color: var(--surface-color);
  color: var(--text-color);
}

#history-feed button button:hover {
  opacity: 0.75;
}

#history-feed button button i {
  font-size: 12px;
}

#checker:not(.timestamps) [data-time-taken] {
  display: none;
}

#checker.timestamps [data-unflag-response],
#checker.timestamps [data-flag-response],
#checker.timestamps [data-segment],
#checker.timestamps [data-question],
#checker.timestamps .inputs > label[square] {
  display: none;
}

[data-question-title] {
  font-size: 20px;
  margin-top: 10px;
  line-height: 1.5;
}

[data-segment-due] {
  font-size: 15px;
  margin-bottom: -15px;
  line-height: 1.5;
}

[data-segment-due] i {
  padding-right: 2.5px;
}

.ML__latex .ML__vlist {
  height: fit-content !important;
}

.medium-zoom-overlay {
  background: var(--background-color) !important;
}

.medium-zoom-image {
  border-radius: 5px;
}