* {
  color: inherit;
  background-color: inherit;
}

:root {
  color-scheme: light;
  --text-color: #2c2c2c;
  --background-color: #fafafa;
  --surface-color: #e7e7e7;
  --accent-color: #424242;
  --accent-text-color: #ffffff;
  --error-color: #fa8796;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--accent-color) inset;
  transition: box-shadow 100ms ease;
}

::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  border: 0.25rem solid transparent;
  background-color: var(--surface-color);
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}

body {
  min-height: 100%;
  padding: 50px 7.5% 25px 7.5%;
  color: var(--text-color);
  background-color: var(--background-color);
  font:
    16px "Figtree",
    sans-serif;
  line-height: 1.5;
  gap: 50px !important;
}

body.enable-transitions {
  --easing: cubic-bezier(0.32, 0, 0.67, 0);
}

h1 {
  font-size: 1.75rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  line-height: 1.2;
}

button {
  height: 2.25em;
  padding: 0 0.75em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  font: inherit;
  transition: 100ms var(--easing);
  cursor: pointer;
  min-width: fit-content;
}

button.icon {
  width: 2.25em;
  height: 2.25em;
  padding: 0;
  border-radius: 50%;
}

button.icon.unread::before {
  content: "*";
  position: absolute;
  border-radius: 50%;
  top: 0.25em;
  right: 0.05em;
}

button.fit {
  width: fit-content !important;
  min-width: fit-content !important;
}

button.success {
  background: mediumseagreen !important;
}

button.error {
  background: indianred !important;
}

button:disabled {
  opacity: 0.75;
  pointer-events: none;
}

button:has(i.bi) {
  font-family: unset;
  line-height: 1;
}

a.icon {
  font-size: 1.5em;
}

.pill {
  border-radius: 100vh;
}

i.bi {
  background-color: transparent;
}

input,
select {
  height: 2.25em;
  padding: 0 0.5em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  width: 100%;
  cursor: pointer;
}

input:disabled,
select:disabled {
  opacity: 0.75;
  cursor: not-allowed;
  overflow: auto;
  pointer-events: auto;
}

input.disabled:disabled,
select.disabled:disabled {
  opacity: 0.5;
}

input:not(#code-input) {
  min-height: 2.25em;
}

select[multiple] {
  padding: 0.5em;
  height: fit-content;
  max-height: 5em;
}

select[multiple] option:not(:last-child) {
  margin-bottom: 2px;
}

select[multiple] option:checked {
  background: var(--accent-color);
  color: var(--accent-text-color);
  border-radius: 0.2rem;
}

.drag {
  height: 2.25em;
  width: 2.25em;
  padding: 0 0.5em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  user-select: none;
}

.drag:active {
  cursor: grabbing;
}

textarea {
  padding: 0.375em 0.5em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  resize: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
}

li {
  word-wrap: break-word;
}

kbd {
  height: 1.5em;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--surface-color);
  font:
    14px "Figtree",
    sans-serif;
}

code {
  height: 1.5em;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  color: var(--text-color);
  background-color: var(--surface-color);
}

button[data-theme] {
  height: 3rem;
  color: var(--text-color);
  background-color: var(--surface-color);
  text-transform: capitalize;
}

.attention {
  box-shadow: 0 0 0 0.125rem var(--error-color) inset;
  transition: box-shadow 100ms ease;
}

.virtual-checker-logo {
  color: var(--logo-color);
}

#code-input {
  font-size: 2.5em;
  text-align: center;
  height: 1.5em;
  background-color: transparent;
}

@media (hover: hover) {
  button:hover {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
  }

  label:hover + button {
    background-color: var(--surface-color);
  }

  button[data-theme]:hover {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
  }
}

[data-gg-chat-anchor],
[data-gg-privacy-banner-anchor] {
  display: none !important;
}

#theme-preview,
#editor-preview {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: min(100%, 300px);
  margin: 1rem;
  align-self: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--background-color);
  transition: 200ms var(--easing);
}

#theme-preview.horizontal,
#editor-preview.horizontal {
  flex-direction: row;
  align-self: stretch;
}

#theme-preview .column,
#editor-preview .column {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: min(100%, 300px);
  align-self: center;
  border-radius: 1rem;
  transition: 200ms var(--easing);
}

#theme-preview.horizontal .column,
#editor-preview.horizontal .column {
  align-self: flex-start;
}

#theme-preview.horizontal .column:first-child .control-placeholder,
#editor-preview.horizontal .column:first-child .control-placeholder {
  height: 4em;
}

.text-placeholder {
  color: transparent;
  background-color: var(--text-color);
  width: fit-content;
  height: 0.8em;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 0.25rem;
  transition: 200ms var(--easing);
}

.control-placeholder {
  height: 2.25em;
  padding: 0 0.5em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  transition: 200ms var(--easing);
}

.control-placeholder.pill {
  height: 1.5em;
  border-radius: 100vh;
}

.hint {
  align-self: center;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  line-height: 1;
}

math-field {
  --caret-color: var(--text-color);
  --contains-highlight-background-color: var(--background-color);
  --text-font-family: "Figtree", sans-serif;

  padding: 0.375em 0.5em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  font-size: 1.25em;
  cursor: text;
}

math-field:focus {
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--accent-color) inset;
  transition: box-shadow 100ms ease;
}

math-field.attention {
  box-shadow: 0 0 0 0.125rem var(--error-color) inset;
  transition: box-shadow 100ms ease;
}

math-field::part(virtual-keyboard-toggle) {
  color: var(--text-color);
  background-color: var(--surface-color);
  transition:
    100ms color var(--easing),
    100ms background-color var(--easing);
}

math-field::part(virtual-keyboard-toggle):hover {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

math-field::part(menu-toggle) {
  display: none;
}

math-field::part(content) {
  padding: 0;
}

div.ML__keyboard {
  background-color: transparent;
}

[data-button-select] {
  display: flex;
  gap: 0.3rem 0.25rem;
  padding: 0.25rem;
  background-color: var(--surface-color);
  border-radius: 0.5rem;
  width: fit-content;
  flex-wrap: wrap;
}

[data-button-select] > button {
  height: unset;
  min-height: 1.75em;
  border-radius: 0.25rem;
  cursor: pointer;
}

[data-button-select] > button[aria-selected="true"] {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

#answer-input {
  background-color: transparent;
}

#answer-input:focus {
  box-shadow: none;
}

#answer-textarea-container:has(#answer-input:focus) {
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--accent-color) inset;
  transition: box-shadow 100ms ease;
}

#answer-input.attention {
  box-shadow: none;
}

#answer-textarea-container:has(#answer-input.attention) {
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--error-color) inset;
  transition: box-shadow 100ms ease;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.images.gallery {
  flex-direction: row;
  flex-wrap: wrap;
}

.images.gallery img {
  max-height: 150px;
}

.images img {
  border-radius: 5px;
  border: 5px solid var(--surface-color);
  background: url(<path-to-image>) var(--surface-color) 50% / cover no-repeat;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  width: -webkit-fill-available;
}

[square] {
  width: 2.25em !important;
  min-width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .button-grid {
    flex-wrap: wrap !important;
  }

  label {
    width: unset !important;
  }

  .rsmall,
  .small,
  .smedium,
  .medium,
  .mediuml,
  .mediumll,
  .large,
  .vlarge,
  square {
    max-width: unset !important;
  }

  #checker.horizontal {
    flex-direction: column !important;
  }

  [data-toggle-layout] {
    display: none;
  }
}

#checker button {
  width: inherit;
  min-width: 36px;
}

[data-multiple-choice="a"]:hover::before {
  content: "Yes | ";
}

[data-multiple-choice="a"]:hover::after {
  content: " | True";
}

[data-multiple-choice="b"]:hover::before {
  content: "No | ";
}

[data-multiple-choice="b"]:hover::after {
  content: " | False";
}

[data-multiple-choice="c"]:hover::after {
  content: " | Both";
}

[data-multiple-choice="d"]:hover::after {
  content: " | Neither";
}

[data-multiple-choice="e"]:hover::after {
  content: " | Nonexistent";
}

.button-grid.reverse {
  flex-direction: row-reverse;
}

.button-grid.reorder {
  flex-direction: column;
}

[data-answer-mode="set"] input {
  text-align: center;
  width: -webkit-fill-available;
  min-width: 50px;
}

[data-answer-mode="frq"] h1 {
  text-align: center;
  padding-bottom: 10px;
}

#frq-input {
  color: var(--accent-color);
  -webkit-appearance: none;
  width: -webkit-fill-available;
  height: 20px;
  border-radius: 10px;
  background: var(--surface-color);
  outline: none;
  margin: 20px 0;
}

#frq-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

#frq-input::-webkit-slider-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--accent-color);
  cursor: grab;
  box-shadow: 0px 0px 5px 5px var(--surface-color);
  transition: 0.25s;
}

#frq-input::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--accent-color);
  cursor: grab;
  box-shadow: 0px 0px 5px 5px var(--surface-color);
  transition: 0.25s;
}

#frq-input::-webkit-slider-thumb:active {
  width: 40px;
  height: 40px;
  cursor: grabbing;
  transition: 0.25s;
}

#checker:has([data-value="frq"][aria-selected="true"]) #answer-container {
  overflow: visible !important;
}

.rsmall {
  max-width: 50px;
}

.small {
  max-width: 75px;
}

.vsmedium {
  max-width: 100px;
}

.smedium {
  max-width: 125px;
}

.medium {
  max-width: 175px;
}

.mediuml {
  max-width: 225px;
}

.mediumll {
  max-width: 265px;
}

.large {
  max-width: 305px;
}

.vlarge {
  max-width: 450px;
}

.fit {
  width: fit-content !important;
  min-width: fit-content !important;
}

#checker:not(:has(.section)):not(:has(#submit-button)) {
  align-items: center;
}

#checker:not(:has(.section)):not(:has(#submit-button)) *:not(ul):not(ol):not(li) {
  text-align: center;
}

.attachments {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
}

.attachments .image,
.attachments img {
  border-radius: 2.5px;
  cursor: pointer;
  position: relative;
  background-color: var(--text-color);
  overflow: hidden;
}

.attachments:not(.extra) .image,
.attachments:not(.extra) img {
  height: 65px;
  min-width: 70px;
}

.attachments .image::after {
  content: "Remove";
  position: absolute;
  bottom: -26px;
  width: 100%;
  z-index: 10;
  background: var(--surface-color);
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5px;
  height: 26px;
  font-size: 13px;
  font-weight: 500;
  transition: 0.25s var(--easing);
}

.attachments .image:hover::after {
  bottom: 0px;
  transition: 0.25s var(--easing);
}

.attachments .drop {
  display: flex;
  width: 150px;
  height: 65px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2.5px;
  border: 1px dashed var(--accent-color);
  background: var(--surface-color);
  cursor: pointer;
}

.description.minimal .ql-container {
  background: transparent !important;
}

.description.minimal .ql-container .ql-editor {
  padding: 0 !important;
}

.description {
  width: -webkit-fill-available;
  max-width: min(100%, 800px);
}

.description a {
  color: var(--accent-color) !important;
}

.description .ql-toolbar {
  background: var(--surface-color);
  border: none !important;
  border-radius: 0.5rem;
  margin-bottom: 7.5px;
}

.description .ql-toolbar #toolbar-container {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  gap: 5px 0;
}

.description .ql-toolbar .ql-picker-label {
  color: var(--text-color) !important;
  font-family: "Figtree";
}

.description .ql-toolbar .ql-stroke {
  stroke: var(--text-color) !important;
}

.description .ql-toolbar .ql-fill {
  fill: var(--text-color) !important;
}
.description .ql-toolbar button:hover,
.description .ql-toolbar button:hover .ql-picker-label,
.description .ql-toolbar .ql-active .ql-picker-label {
  color: var(--accent-color) !important;
}

.description .ql-toolbar button:hover .ql-stroke,
.description .ql-toolbar .ql-active .ql-stroke {
  stroke: var(--accent-color) !important;
}

.description .ql-toolbar button:hover .ql-fill,
.description .ql-toolbar .ql-active .ql-fill {
  fill: var(--accent-color) !important;
}

.description .ql-container {
  font-size: inherit !important;
  background: var(--surface-color);
  border: none !important;
  border-radius: 0.5rem;
  font-family: inherit !important;
}

.description .ql-container .ql-editor {
  border-radius: 0.5rem;
}

.description .ql-editor.ql-blank::before {
  color: var(--text-color) !important;
  opacity: 0.5 !important;
}

.description .ql-toolbar .ql-picker-label:hover,
.description .ql-toolbar .ql-picker-label.ql-active {
  color: var(--text-color) !important;
}

.description .ql-toolbar button:focus,
.description .ql-toolbar .ql-picker-item,
.description .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--accent-text-color) !important;
  font-family: "Figtree";
}

.description .ql-toolbar .ql-picker-item:hover {
  color: var(--text-color) !important;
}

.description .ql-picker-options {
  background: var(--accent-color) !important;
}

.description .ql-toolbar .ql-picker.ql-expanded .ql-picker-label,
.description .ql-toolbar .ql-picker.ql-expanded .ql-picker-options {
  border-color: var(--accent-color) !important;
}

.description .ql-picker.ql-font .ql-picker-label:not([data-value])::before,
.description .ql-picker.ql-font .ql-picker-item:not([data-value])::before {
  content: "Default Font" !important;
}

.description .ql-tooltip {
  background: var(--accent-color) !important;
  color: var(--accent-text-color) !important;
  border: none !important;
  border-radius: 0.5rem !important;
  box-shadow: none !important;
  z-index: 1;
}

.description .ql-tooltip input[type="text"] {
  border: none !important;
  color: var(--text-color) !important;
}

.description .ql-tooltip a {
  color: var(--accent-text-color) !important;
}

.description .ql-editor blockquote {
  border-color: var(--accent-color) !important;
}

.description .ql-code-block-container {
  border-radius: 0.3rem !important;
}

.description .ql-code-block-container .ql-ui {
  width: fit-content;
  color: var(--text-color);
  font-size: 12.5px;
  border-radius: 0.2rem;
}

.description .ql-editor .ql-video {
  width: -webkit-fill-available;
  min-height: 22vw;
  border-radius: 0.3rem;
}

.description .ql-editor p > img {
  border-radius: 0.3rem;
}

.description .faz-quill-emoji-dropdown,
.description .faz-quill-emoji-input-group,
.description .faz-quill-emoji-loader {
  background: transparent;
}

.description .faz-quill-emoji-dropdown-content {
  background: var(--surface-color);
}

.description .faz-quill-emoji-tab {
  color: var(--surface-text-color) !important;
}

.description .faz-quill-emoji-tab.active:before {
  background: var(--accent-color) !important;
  left: -5px;
}

.description .faz-quill-emoji-loader svg {
  color: var(--accent-text-color) !important;
}

.description .faz-quill-emoji-list {
  grid-template-columns: repeat(9, 1fr) !important;
  gap: 5px !important;
}

.description .faz-quill-emoji-tab-list {
  margin-right: -5px;
  margin-left: 15px;
}

.description .faz-quill-emoji-tab {
  padding: 0 10px !important;
}

.description .faz-quill-emoji-input-group input {
  background: var(--accent-color);
  color: var(--accent-text-color);
}

.description .faz-quill-emoji-input-group svg {
  color: var(--accent-text-color);
  height: 17px;
  width: 17px;
  left: 10px;
}

.description .faz-quill-emoji-loader {
  top: 21.5px;
  left: unset;
  right: 85px;
}

.hiddenOnLoad {
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

.hiddenOnLoad.show {
  max-height: 100000px;
  overflow: visible;
  transition: 0.5s var(--easing);
}

.questions .section [data-remove-question-input] {
  display: none;
}

.segments .section .questions,
.questions .section .renderedMath,
.questions .section .description,
.questions .section .EasyMDEContainer,
.questions .section .attachments,
.questions .section .answers {
  max-height: 0px;
  transition: 0.25s var(--easing);
  overflow: hidden;
}

.segments .section .bi-caret-up-fill,
.questions .section .bi-caret-up-fill {
  display: none;
}

.questions .section.expanded [data-remove-question-input] {
  display: flex;
}

.segments .section.expanded .questions,
.questions .section.expanded .renderedMath.show,
.questions .section.expanded .description,
.questions .section.expanded .EasyMDEContainer,
.questions .section.expanded .attachments,
.questions .section.expanded .answers {
  max-height: 10000px;
  transition: 0.25s var(--easing);
}

.questions .section.expanded .renderedMath:not(.show) {
  margin-bottom: -7.5px;
}

.questions .section.expanded .description {
  overflow: visible;
  margin-bottom: 7.5px;
}

.segments .section.expanded .bi-caret-up-fill,
.questions .section.expanded .bi-caret-up-fill {
  display: block;
}

.segments .section.expanded .bi-caret-down-fill,
.questions .section.expanded .bi-caret-down-fill {
  display: none;
}

.section [data-select] {
  display: none;
}

.selecting [data-select] {
  display: flex;
}

.selecting .bi-circle-fill {
  display: none;
}

.selecting .selected .bi-circle {
  display: none;
}

.selecting .selected .bi-circle-fill {
  display: block;
}

#controls-container .bi-x {
  display: none;
}

#controls-container [data-delete-multiple] {
  display: none;
}

#controls-container [data-archive-multiple] {
  display: none;
}

#controls-container [data-unarchive-multiple] {
  display: none;
}

#controls-container [data-select-between] {
  display: none;
}

body:has(.selecting) #controls-container button:has(.bi-gear) {
  display: none;
}

body:has(.selecting) #controls-container .bi-circle {
  display: none;
}

body:has(.selecting) #controls-container .bi-x {
  display: block;
}

body:has(.selecting) #controls-container button:has(.bi-lightning-charge) {
  display: none;
}

body:has(.selecting) #controls-container [data-delete-multiple] {
  display: block;
}

body:has(.selecting) #controls-container button:has(.bi-arrows-move) {
  display: none;
}

body:has(.selecting) #controls-container button:has(.bi-sort-down) {
  display: none;
}

body:has(.selecting) #controls-container button:has(.bi-calendar-minus) {
  display: none;
}

body:has(.selecting) #controls-container [data-archive-multiple] {
  display: block;
}

body:has(.selecting) #controls-container button:has(.bi-archive):not([data-archive-multiple]) {
  display: none;
}

body:has(.selecting) #controls-container [data-unarchive-multiple] {
  display: block;
}

body:has(.selecting) #controls-container [data-select-between] {
  display: block;
}

body:has(.selecting) #controls-container [data-polling] {
  display: none;
}

body:has(.selecting) #controls-container [data-timestamps] {
  display: none;
}

body:has(.selecting) #controls-container [data-clear-responses] {
  display: none;
}

body:has(.selecting) [data-flag-response] {
  display: none;
}

body:has(.selecting) [data-unflag-response] {
  display: none;
}

body:has(.selecting) #controls-container button:has(.bi-download) {
  display: none;
}
.section:not(:has(.expanded)) {
  gap: 7.5px;
  transition: 0.25s gap var(--easing);
}

.section:has(.expanded) {
  transition: 0.25s gap var(--easing);
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  width: -webkit-fill-available;
}

.questions .section:has(.expanded) .section[id]:not(.expanded) {
  display: none;
}

.questions .section[id]:not(.expanded) {
  gap: 0px;
}

.segments .section[id]:not(.expanded) {
  gap: 0px;
}

.button-grid[id^="response-"].hidden {
  display: none;
}

hidden,
[hidden],
.hidden {
  display: none;
}

.toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1000;
  background: transparent;
}

.toast-container:has(.toast.error) {
  z-index: 10000;
}

.toast {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
  color: var(--text-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition:
    opacity 250ms ease,
    transform 250ms ease;
  line-height: 13px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toast i {
  font-size: 1rem;
}

.toast.success {
  background-color: mediumseagreen;
  color: #ffffff;
}

.toast.error {
  background-color: #f44336;
  color: #ffffff;
}

.toast-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 0;
}

.history-feed .correct {
  border-left: 3px solid mediumseagreen;
  border-right: 3px solid mediumseagreen;
}

.history-feed .incorrect {
  border-left: 3px solid indianred;
  border-right: 3px solid indianred;
}

.history-feed button button {
  width: -webkit-fill-available;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 5px 0;
}

.history-feed > button:hover {
  background-color: var(--surface-color);
  color: var(--text-color);
}

.history-feed button button:hover {
  opacity: 0.75;
}

.history-feed button button i {
  font-size: 12px;
}

#checker:not(.timestamps) [data-time-taken] {
  display: none;
}

#checker.timestamps [data-unflag-response],
#checker.timestamps [data-flag-response],
#checker.timestamps [data-segment],
#checker.timestamps [data-question],
#checker.timestamps .inputs > label[square] {
  display: none;
}

[data-question-title] {
  font-size: 20px;
  margin-top: 5px;
  line-height: 1.5;
}

[data-segment-due] {
  font-size: 15px;
  margin-bottom: -15px;
  line-height: 1.5;
}

[data-segment-due] i {
  padding-right: 2.5px;
}

.ML__latex .ML__vlist {
  height: fit-content !important;
}

.medium-zoom-overlay {
  background: var(--background-color) !important;
  z-index: 9998;
}

.medium-zoom-image--opened {
  border-radius: 0.1rem;
  z-index: 9998;
}

.color-info {
  display: flex;
  align-items: center;
  gap: 7.5px 10px;
  flex-wrap: wrap;
}

.color {
  display: flex;
  align-items: center;
  gap: 5px;
}

.color-box {
  height: 15px;
  width: 15px;
  border: 1px solid var(--surface-color);
  border-radius: 100%;
}

.color-box.correct {
  background: mediumseagreen;
}

.color-box.incorrect {
  background: indianred;
}

.color-box.other {
  background: dimgray;
}

.color-box.waiting {
  background: darkorange;
}

.seat-code-reports {
  gap: 12.5px !important;
}

.seat-code-report {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: -webkit-fill-available;
}

[report] {
  cursor: pointer;
}

.barcount-wrapper {
  display: flex;
  align-items: stretch;
  min-width: 250px;
}

.barcount-wrapper.fill {
  width: -webkit-fill-available;
}

.barcount-wrapper.fill .barcount {
  min-width: fit-content;
}

.barcount {
  padding: 5px 12.5px;
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
  min-width: 10%;
  color: white;
}

.barcount.correct {
  background: mediumseagreen;
}

.barcount.incorrect {
  background: indianred;
}

.barcount.other {
  background: dimgray;
}

.barcount.waiting {
  background: darkorange;
}

.barcount:first-child {
  border-radius: 10px 0 0 10px;
}

.barcount:last-child {
  border-radius: 0 10px 10px 0;
}

.barcount:first-child:last-child {
  border-radius: 10px;
}

.detailed-report {
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: -webkit-fill-available;
}

.detailed-report.active {
  display: flex;
  border-left: 2px solid var(--accent-color);
  padding: 5px 7.5px;
  margin-bottom: 5px;
}

.segment-report,
.detailed-report-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: -webkit-fill-available;
}

.checkboxGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7.5px;
  cursor: pointer;
}

.checkboxGroup:has(input:checked) .checkbox::before {
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
  transition:
    0.25s top ease,
    0.25s left ease,
    0.25s height ease,
    0.25s width ease;
}

.checkbox {
  height: 20px;
  width: 20px;
  background: var(--surface-color);
  border-radius: 0.25rem;
  position: relative;
}

.checkbox::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0%;
  width: 0%;
  background: var(--accent-color);
  border-radius: 0.15rem;
  transition:
    0.25s top ease,
    0.25s left ease,
    0.25s height ease,
    0.25s width ease;
}

.showonhover {
  display: none !important;
}

*:has(> .showonhover):hover .showonhover {
  display: inherit !important;
  padding-left: 5px;
}

.color-name:has(> .showonhover):hover .showonhover {
  display: inline-block !important;
}

*:has(> .hideonhover):hover .hideonhover {
  display: none !important;
}

.redonhover:hover {
  color: var(--error-color);
  cursor: pointer;
}

#segment-completed {
  background: var(--surface-color);
  padding: 15px 20px 20px 20px;
  border-radius: 10px;
  border-left: 3px solid mediumseagreen;
  border-right: 3px solid mediumseagreen;
}

#segment-completed i {
  font-size: 25px;
}

#segment-completed ul i {
  font-size: 15px;
}

#segment-completed:not(.mastery) > *:not(ul).mastery {
  display: none;
}

#segment-completed.mastery > *:not(ul):not(.mastery) {
  display: none;
}

body > canvas {
  background: transparent;
}

.rotate-right {
  transform: rotate(90deg);
}

[mockDisabled] {
  opacity: 0.75;
  cursor: not-allowed;
}

#checker.anonymous .input-group:has(#sort-seat-input),
#checker.anonymous [data-seat-code] {
  display: none !important;
}

.katex .vlist {
  height: unset !important;
}
