body > * {
  flex-shrink: 0;
}

div.spacer {
  height: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.full-row {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.full-row > * {
  flex: 1;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

:is(.space, .extra-space) + .space {
  margin-top: 0.25rem;
}

:is(.space, .extra-space) + .extra-space {
  margin-top: 1.5rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  gap: 0.25rem;
}

#header {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header > h1 {
  font-size: 1.5rem;
}

#clicker {
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(100%, 800px);
}

#question-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  flex-wrap: wrap;
  justify-content: center;
}

#question-input {
  flex: 1;
  min-width: 2rem;
}

#answer-container {
  overflow: hidden;
  border-radius: 0.5rem;
}

[data-answer-mode="input"] {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.25rem;
}

#answer-textarea-container {
  display: flex;
  flex-direction: column;
  background-color: var(--surface-color);
  border-radius: 0.5rem;
}

#answer-input {
  padding-bottom: 0;
}

#answer-suggestion {
  height: 2em;
  line-height: 2;
  padding: 0 0.5rem;
  background-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  cursor: text;
}

#answer-suggestion > kbd {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

[data-answer-mode="choice"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0.375em 0.5em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
}

[data-answer-mode="math"] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

[data-answer-mode="math"] > math-field {
  width: 100%;
}

#insert-row {
  flex: 1;
  overflow: hidden;
  height: 2.25em;
}

#controls-container {
  display: flex;
  flex-direction: row;
  background-color: var(--surface-color);
  width: fit-content;
  overflow: hidden;
  align-self: center;
}

#symbols-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.125rem;
}

#symbols-grid > button {
  background-color: var(--background-color);
}

#symbols-grid > button:hover {
  color: var(--text-color);
  background-color: var(--surface-color);
}

#theme-selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0.25rem;
  max-height: 9.5rem;
  overflow: auto;
}

#theme-selector > button {
  height: 3em;
  line-height: 1.2;
}

#seat-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.25rem 1.5rem;
}

#history-date {
  font-size: 1.25rem;
}

#history-date:empty {
  display: none;
}

#history-date:empty ~ #history-navigation {
  display: none;
}

#history-feed {
  overflow-y: auto;
  height: 400px;
}

#history-feed > button {
  height: fit-content;
  padding: 0.375em 0.75em;
  text-align: left;
}

#history-feed > button > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

label {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

#theme-editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
}

#theme-editor > :nth-of-type(1) {
  grid-column: 1 / 3;
}
