:root {
    color-scheme: light;
    --text-color: #242424;
    --background-color: #ffffff;
    --surface-color: #e7e7e7;
    --accent-color: #242424;
    --accent-text-color: #ffffff;
    --error-color: #fa8796;
}

:focus-visible {
    z-index: 1;
    outline: none;
    box-shadow: 0 0 0 0.125rem var(--text-color);
    transition: box-shadow 100ms ease-in;
}

::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

* {
    color: inherit;
    background-color: inherit;
}

html {
    font: 16px "Poppins", sans-serif;
}

body {
    padding: 1rem;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.5;
}

button {
    height: 2.25em;
    padding: 0 0.75em;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--surface-color);
    font: inherit;
}

dialog[open] {
    display: flex;
    flex-direction: column;
}

dialog {
    gap: 0.25rem;
    width: min(100%, 350px);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}

dialog::backdrop {
    background-color: #000000;
    opacity: 0.25;
}

dialog>div:last-of-type {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: flex-end;
    padding-top: 0.5rem;
}

dialog>div:last-of-type>button {
    flex: 1;
}

input,
select {
    height: 2.25em;
    padding: 0 0.5em;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--surface-color);
}

input[type="color"] {
    width: 3.5rem;
}

textarea {
    padding: 0.375em 0.5em;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--surface-color);
    resize: none;
}

@media (hover: hover) {
    button:hover {
        color: var(--accent-text-color);
        background-color: var(--accent-color);
    }

    label:hover+button {
        background-color: var(--surface-color);
    }

    button[data-theme]:hover {
        color: var(--accent-text-color);
        background-color: var(--accent-color);
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    width: fit-content;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Specific */

p:empty {
    display: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: list;
}

ol li {
    counter-increment: list;
}

ol li::before {
    content: counter(list) ". ";
}

div.spacer {
    height: 1.5rem;
}

span.code {
    pointer-events: none;
}

.attention {
    box-shadow: 0 0 0 0.125rem var(--error-color);
    transition: box-shadow 100ms ease-in;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
    gap: 0.25rem;
}

.theme-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
}

button[data-theme] {
    height: 4rem;
    color: var(--text-color);
    background-color: var(--surface-color);
    text-transform: capitalize;
}

#form {
    flex: 1;
    align-self: center;
    justify-content: center;
    width: min(100%, 800px);
}

#code-input {
    font-size: 2em;
    text-align: center;
}

#seat-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.25rem;
}

#history-feed {
    overflow-y: auto;
    max-height: 400px;
    border-radius: 0.5rem;
}

#history-feed>button {
    height: fit-content;
    padding: 0.375em 0.75em;
    text-align: left;
}

#history-feed>button>p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}