[data-theme="classic"] {
    color-scheme: dark;
    --text-color: #ffffff;
    --background-color: #32383f;
    --surface-color: #444c56;
    --accent-color: #059fff;
    --accent-text-color: #ffffff;
    --error-color: #f84747;
}

[data-theme="abyss"] {
    color-scheme: dark;
    --text-color: #ffffff;
    --background-color: #000000;
    --surface-color: #1f1f22;
    --accent-color: #059fff;
    --accent-text-color: #ffffff;
    --error-color: #f84747;
}

[data-theme="graphite"] {
    color-scheme: dark;
    --text-color: #ffffff;
    --background-color: #1f1f1f;
    --surface-color: #2d2f30;
    --accent-color: #444d58;
    --accent-text-color: #ffffff;
    --error-color: #f84747;
}

[data-theme="blizzard"] {
    color-scheme: light;
    --text-color: #242424;
    --background-color: #cde7f5;
    --surface-color: #abd0e6;
    --accent-color: #71b2d3;
    --accent-text-color: #242424;
    --error-color: #e47979;
}

[data-theme="sage"] {
    color-scheme: light;
    --text-color: #242424;
    --background-color: #bacbb0;
    --surface-color: #a1b794;
    --accent-color: #5c8a5b;
    --accent-text-color: #242424;
    --error-color: #d36363;
}

[data-theme="dune"] {
    color-scheme: light;
    --text-color: #242424;
    --background-color: #cbc3af;
    --surface-color: #b7ac93;
    --accent-color: #917856;
    --accent-text-color: #242424;
    --error-color: #bd5858;
}

[data-theme="rose"] {
    color-scheme: light;
    --text-color: #242424;
    --background-color: #F4DBD8;
    --surface-color: #e0c4c0;
    --accent-color: #ae817c;
    --accent-text-color: #242424;
    --error-color: #b42222;
}

[data-theme="lavender"] {
    color-scheme: light;
    --text-color: #242424;
    --background-color: #c3c0e5;
    --surface-color: #aca8d4;
    --accent-color: #7e78be;
    --accent-text-color: #242424;
    --error-color: #bd5858;
}

[data-theme="wit"] {
    color-scheme: dark;
    --text-color: #ffe7c7;
    --background-color: #222f5b;
    --surface-color: #2b3b72;
    --accent-color: #a3773d;
    --accent-text-color: #ffffff;
    --error-color: #913939;
}

[data-theme="loyalty"] {
    color-scheme: light;
    --text-color: #292725;
    --background-color: #c28a45;
    --surface-color: #db9d52;
    --accent-color: #3f342e;
    --accent-text-color: #ffffff;
    --error-color: #923737;
}

[data-theme="cunning"] {
    color-scheme: dark;
    --text-color: #e1fffb;
    --background-color: #0c3d37;
    --surface-color: #18534d;
    --accent-color: #9c9c9c;
    --accent-text-color: #242424;
    --error-color: #923737;
}

[data-theme="bravery"] {
    color-scheme: light;
    --text-color: #ffe3c1;
    --background-color: #7d2c2b;
    --surface-color: #9e3634;
    --accent-color: #fcb255;
    --accent-text-color: #242424;
    --error-color: #ff4949;
}

[data-theme="cream"] {
    color-scheme: light;
    --text-color: #242424;
    --background-color: #f1e8db;
    --surface-color: #ddd3c6;
    --accent-color: #415334;
    --accent-text-color: #ffffff;
    --error-color: #b42222;
}